
body {
    font-family:'roboto','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.part1, .footer {
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-bottom: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    color: #e5e7eb;
    font-size: 18px;
}

.hero, .left {
    display: flex;
}

.left {
    flex-direction: column;
    width: 600px;
}

h1, p {

    margin:0;
    padding: 0 100px;
}

h1 {

    font-size: 48px;
    font-weight:900;
    color:#f9faf8
}

p {
    font-size: 18px;
    color: #e5e7eb;

}